<!Doctype html>
<html lang="en">
<head>
  <title>Admin Email</title>
  <style type="text/css">
  </style>
</head>
<body>
<main>
  <h1>Wallet Connect</h1>
  <hr />
  <p>
    Mauris ullamcorper magna blandit tortor efficitur, eu commodo lorem viverra. Pellentesque vitae finibus turpis.
    Donec ac euismod nunc. Phasellus non sagittis elit. Sed vitae placerat lorem, non semper nulla. Vestibulum lorem
    sapien, dictum eu convallis sodales, luctus nec nisi. Morbi sed dictum arcu.
  </p>
  <ul class="user-item-list">
    <li><span class="user-item-title">foo</span>:&nbsp<span class="item-contents">bar</span></li>
    <li><span class="user-item-title">foo</span>:&nbsp<span class="item-contents">bar</span></li>
  </ul>
  <div class="additional">
    <p>Mauris ullamcorper magna blandit tortor efficitur, eu commodo lorem viverra.</p>
    <ol class="user-check-list">
      <li>123</li>
      <li>123</li>
      <li>123</li>
    </ol>
  </div>
</main>
<hr />
<footer>
  <h3>title comes here</h3>
</footer>
</body>
</html>
